{%extends 'layOut.html'%}
{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{%block table%}
<form method="post" action="{%url 'tableform'%}">
    {% csrf_token%}

<div class="container" style="margin-top:50px;">
    <div class="row">
            <div class="row" style="margin-top:150px;">

            <div class="col-lg-6 col-sm-6 col-sm-6 dinIn" style="">
                <p>number</p>
                <input type="number" name="number" placeholder="number" required>
            </div>
            <div class="col-lg-6 col-sm-6 col-sm-6 dinIn" style="">
                <p>date</p>
                <input name="date" type="date" placeholder="phone" required>
            </div>
            <div class="col-lg-6 col-sm-6 col-sm-6 dinIn">
                <p>time</p>
                <input name="time" type="time" placeholder="phone" >
            </div>
                <div class="col-lg-6 col-sm-6 col-sm-6 dinIn" style="">
                <p>phone</p>
                <textarea name="phone1" placeholder="phone" required  style=" height: 50px;
    font-size: 18px;
    width: 100%;

    text-align: center;
    margin: auto;
    background: none;
 color: white;
 border: none;
 border-bottom: 2px solid #ffff66;
 border-left: 2px solid #ffff66;
 border-radius: 7px;
 transition: all 0.5s ease-in-out;"></textarea>
            </div>
            <div class="col-lg-3 col-sm-3 col-sm-3"></div>
            <div class="col-lg-6 col-sm-6 col-sm-6 dinIn">
                <input class="submit" type="submit" value="order" >
            </div>
            <div class="col-lg-3 col-sm-3 col-sm-3"></div>
                </div>
    </div>
</div>
</form>
{%endblock%}
</body>
</html>